<div class="main users-index">
  <div class="container">
     <div class="users-index-item">
       <div class="user-left">
         <img src="<%= "/user_images/#{@user.image}" %>">
       </div>
       <div class="user-right">
         <%= @user.name %>
       </div>
     </div>
  </div>
</div>
