<div class="main users-new">
  <div class="container">
    <h1 class="form-heading">CREATE NEW USER</h1>
    <%= form_tag("/users/create", multipart: true) do %>
     <div class="form">
       <div class="form-body">
         <p>USER_NAME</p>
         <input name="name"></input>
         <p>PROFILE_IMAGE</p>
         <input name="image" type="file">
         <p>E-MAIL</p>
         <input name="email"></input>
         <p>PASSWORD</p>
         <input type="password" name="password"></input>
         <input type="submit" value="SUBMIT">
       </div>
     </div>
    <% end %>
  </div>
</div>
