<div class="about-main">
  <h2>About Tweets</h2>
  <p>
    SNS service.
    Post your now and tweets and have fun communicating with other users.
  </p>
  <!-- <img class="about-img" src="/tweets.png"> -->
</div>
